body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  .container {
    text-align: center;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
  }

  .button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .img-container {
    border: 2px solid #e5e5e5;
    border-radius: 8px;
    padding: 20px;
    margin-top: 1px;
    display: inline-block;
    transition: border-color 0.3s ease;
}

.img-container:hover {
    border-color: #a0a0a0;
}

  #encryptBtn {
    background-color: #4CAF50;
    color: white;
  }

  #decryptBtn {
    background-color: #f44336;
    color: white;
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  h1 {
    margin-top: 0;
    font-size: 32px;
    color: #444;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  input[type="file"] {
    display: none;
  }
  .file-input-label {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .file-input-label:hover {
    background-color: #45a049;
  }
  
  /* Mensajes de estado */
  .status {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .success-message,
  .error-message {
    display: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .success-message {
    background-color: #4CAF50;
    color: white;
  }
  
  .error-message {
    background-color: #f44336;
    color: white;
  }
  